<div class="book-review-wrapper">
    <div class="book-review-info">
        <div class="book-review-user">
            <div class="book-review-avatar-name">
                <div class="book-review-user-image">
                    <img
                        [src]="userAvatarSrc"
                        alt="user-avatar"
                    >
                </div>
                <div class="book-review-username">
                    {{ username }}
                </div>
            </div>
        </div>
        <div class="book-review-name">
            {{ name }}
        </div>
        <div class="book-review-author-price-wrapper">
            <div class="book-review-author">
                {{ author }}
            </div>
            <div *ngIf="price; else elseBlock" class="book-review-price">
                $ {{ price }}
            </div>
            <ng-template #elseBlock>
                <div class="book-review-price-free">
                    free
                </div>
            </ng-template>
        </div>
        <div class="book-review-image">
            <img
                [src]="bigImageSrc"
                alt="book-review-image"
            />
        </div>
    </div>
    <div class="book-review-text-wrapper">
        <header>
            Review:
        </header>
        <div class="book-review-text-content">
            {{ review }}
        </div>
    </div>
</div>