@import '../../shared/colors.scss';

.search-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 0;
    background-color: $background-light-color;
    border-radius: 0 0 2em 2em;

    input {
        margin: 1em 0;
        padding: 1em 0 1em 3em;
        width: 75%;
        border-radius: 2.0625em;
        border: 1px solid #E4E7EA;
        background: no-repeat 1.2em/1.2em url('../../../assets/images/search.svg');
    }

    ::-webkit-input-placeholder {
        color: $main-dark-blue-color;
        font-weight: 600;
    }

    .search-filter-icon {
        img {
            position: absolute;
            bottom: 42%;
            right: 12%;
        }
    }
}