@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('./assets/fonts/ProximaNova-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('./assets/fonts/ProximaNova-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaExtraBold';
    src: url('./assets/fonts/ProximaNova-Extrabld.ttf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('./assets/fonts/ProximaNova-Semibold.ttf') format('opentype');
}