@import '../../shared/colors.scss';

.book-card-wrapper {
    display: flex;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    max-height: 100px;
    margin: 1em;
    border-radius: 1.875em 0.3125em 0.3125em 0.3125em;

    .book-card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1em;
    }

    .book-card-image {
        img {
            border-radius: 1.875em 0 0 0.3125em;
        }
    }

    .book-card-user {
        display: flex;
        align-items: center;

        .book-card-user-image {
            margin-right: 0.5em;

            img {
                border-radius: 50%;
            }
        }

        .book-card-username {
            font-size: 0.875em;
        }
    }

    .book-card-name {
        font-weight: 700;
        color: $main-dark-blue-color;
        font-size: 1em;
    }

    .book-card-author {
        font-size: 0.875em;
        color: $gray-color;
    }

    .book-card-price, .book-card-price-free {
        font-weight: 700;
        font-size: 1em;
    }

    .book-card-price-free {
        max-width: 3em;
        background-color: $yellow-color;
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 1px 0;
    }

    .book-card-extra {
        cursor: pointer;
        margin: 0.5em 0;

        img {
            max-width: 1em;
        }
    }
}