<div class="book-card-wrapper" (click)="navigateToBook()">
    <div class="book-card-image">
        <img
            [src]="imageSrc"
            alt="book-image"
        />
    </div>
    <div class="book-card-info">
        <div class="book-card-user">
            <div class="book-card-avatar-name">
                <div class="book-card-user-image">
                    <img
                        [src]="userAvatarSrc"
                        alt="user-avatar"
                    >
                </div>
                <div class="book-card-username">
                    {{ username }}
                </div>
            </div>
            <div class="book-card-more">
                <img
                    src="../../../assets/images/more-vertical.svg"
                    alt="book-card-more-icon"
                >
            </div>
        </div>
        <div>
            <div class="book-card-name">
                {{ name }}
            </div>
            <div class="book-card-author">
                {{ author }}
            </div>
        </div>
        <div *ngIf="price; else elseBlock" class="book-card-price">
            $ {{ price }}
        </div>
        <ng-template #elseBlock>
            <div class="book-card-price-free">
                free
            </div>
        </ng-template>
    </div>
</div>